body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calculator {
  width: 255px;
  height: 400px;
  padding: 18px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 5px 10px rgb(83, 82, 82);
  background: black;
}

.display {
  width: 95%;
  height: 90px;
  margin: 0 auto;
  padding: 4px;
  border-radius: 8px;
  border: none;
  background-color: rgb(245, 245, 245);
  font-size: 38px;
  font-weight: 600;
  text-align: right;
  color: black;
}
.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  gap: 5px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  font-size: 24px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: #333;
}
button:active,
button:focus {
  filter: brightness(200%);
}

.btn_yellow {
  background-color: rgb(196, 113, 4);
  filter: brightness(140%);
}
